* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  /* color: white; */
}

html,
body {
  width: 100%;
  height: 100%;
}

.parent {
  min-height: 100vh;
  padding: 30px;
  width: 100%;
  background-color: #111;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 10px;
  gap: 3px;
  background-color: transparent;
  color: #887e7e;
}



.center {
  /* background-color: red; */
  margin-bottom: 50px;
}

.center h3 {
  font-size: 16px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 21px;
  font-weight: 500;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  
}

.center .tag h4 {
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #b1b1b1a0;
  padding-top: 15px;
}

.bottom button{
  background-color: #231f1f;
  color: white;
  font-size: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.bottom h3{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}