* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: gray;
    color: whitesmoke;
    
}

input{
  margin: 10px;
  padding: 0 10px;
}

.page1{
  height: 100vh;
  background-color: #111;
  width: 100%;
}
.page2{
  height: 100vh;
  background-color: #222;
  width: 100%;
}
.page3{
  height: 100vh;
  background-color: #333;
  width: 100%;
}