*{
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}
button{
  padding: 30px 50px;
  border-radius: 10px;
  background-color: lightblue;
}