* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  width: 100%;
  height: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 2px solid #111;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: crimson;
  
}

.card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.card p {
  margin: 20px 0px;
}

.card button {
  color: black;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

}