@import "tailwindcss";

html, body{
  background-color: black;
  color: white;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  text-decoration: underline;
  transform: translate(-50%,-50%);
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
}