* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(66, 59, 59);
}

input,button {
  background-color: rgb(100, 95, 95);
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  outline: none;
}
